<div class="window">
  <h1>Contact</h1>
</div>

<div class="window">

  <div class="contact-links">
    <div class="contact-panel">
    <%= link_to 'mailto:kylejhalvorson@gmail.com?subject=OmniGoat Design Inquiry', class:'contact-link' do %>
      <div class="contact-details">
        <div class="contact-label">e-mail</div>
        <div class="contact-value">kylejhalvorson@gmail.com</div>
      </div>
    <% end %>
  </div>

  <div class="contact-panel">
    <%= link_to 'http://www.github.com/khomni', class:'contact-link' do %>
      <%= image_tag "social-icons/github.png", class:"contact-icon" %>
      <div class="contact-details">
        <div class="contact-label">github</div>
      </div>
    <% end %>
  </div>

  <div class="contact-panel">
    <%= link_to 'http://www.twitter.com/omnigoatdesign', class:'contact-link' do %>
      <div class="contact-details">
        <div class="contact-label">twitter</div>
      </div>
    <% end %>
  </div>

  <div class="contact-panel">
    <%= link_to 'http://www.facebook.com/omnigoatdesign', class:'contact-link' do %>
      <div class="contact-details">
        <div class="contact-label">facebook</div>
      </div>
    <% end %>
  </div>
  </div>
</div>
