<%= link_to all_path, id:"title" do %>
  <%= inline_svg("title.svg") %>
<% end %>
<div class="splash">
  <div class="bubble-container">
    <% @images.each do |i| %>
      <%= link_to "", post_path(i.post.category.name, i.post.id), class: "image-bubble", :data => {:image => i.pic.url, :color => i.post.category.color_hex} %>
    <% end %>
  </div>
  <% if @style == 0 then %>
    <%= image_tag "goat-sprite.png", id:"goat" %>
  <% else %>
    <%= image_tag "goat.png", id:"goat" %>
  <% end %>
<div class="scanlines"></div>
</div>
<div class="background"></div>

<% content_for :javascript do %>
  title = document.querySelectorAll("#title > svg > *");
  bubbles = document.querySelectorAll(".image-bubble")
  sineWave.createInstance(title, {amplitude: 20})
  bubbleRotate.createInstance(bubbles)
<% end %>
