  <div class="group">
    <%= f.label :title, "Post Title", class:"label" %>
    <%= f.text_field :title, class:"input field" %>
  </div>

  <div class="group">
    <%= f.label :description, "Description", class:"label" %>
    <%= f.text_area :description, class:"input area" %>
  </div>

  <div class="group">
    <%= f.label :all_tags, "Tags", class:"label" %>
    <%= f.text_field :all_tags, class:"input field" %>
  </div>

  <div class="group">
    <%= f.submit button, class:"input button" %>
  </div>
