<%- title "#{@post.title} - OmniGoat Design" %>

<% content_for :head do %>
  <meta property="og:title"  content="<%= @post.title %>" />
  <meta property="og:site_name"  content= "Omnigoat Design" />
  <% if @post.images.any? %>
    <meta property="og:image"  content="<%= @post.images.first.pic.url %>" />
  <% end %>
  <meta property="og:type"   content="<%= @category.name %>" />
<% end %>

<% content_for :actions do %>
    <%= link_to edit_post_path(@category.name, @post), class:"btn" do %><li>Edit Post</li><% end %>
    <%= link_to post_path(@category.name, @post), method: "delete", class:"btn" do %><li>Delete Post</li><% end %>
<% end %>

<div class="banner-spacer">
  <% if @post.images.any? then %>
    <div class="post-background">
        <% image = @post.random_picture %>
        <div class="image" id="image-<%= image.id %>" neighbors="0" image_no="0" data-image="<%= image.pic.url %>"></div>
    </div>
  <% else %>
    <div class="post-background blank">
        <div class="panel-background icon" id="category" data-image="<%= @post.category.icon.url %>"></div>
    </div>
  <% end %>

  <div class="window blank">
    <div class="title"><%= @post.title %></div>
  </div>
</div>

<div class="window">
<% if @post.images.any? or authorized? then %>
  <div class="post-images">
    <% @post.images.each do |i| %>
      <div class="post-image"><%= link_to "", i.pic.url, data: {image: i.pic.url} %></div>
    <% end %>
    <% if authorized? %>
      <div class="post-image"><%= link_to "", images_path %></div>
    <% end %>
  </div>
<% end %>

<div class="text-copy">
  <%=raw @post.description %>
</div>

<div class="post-details">
  <div class="post-detail">Posted: <%= @post.time_created %></div>
  <% if @post.time_created != @post.time_updated then %>
  <div class="post-detail">Updated: <%= @post.time_updated %></div>
  <% end %>
</div>

<div class="tag-container">
<% @post.tags.each do |t| %>
  <%= link_to t.name, tag_path(t.name), class:"tag" %>
<% end %>
</div>

</div>

<% if @posts then %>
  <div class="window spacer"></div>
  <div class="window" id="related">
    <h2>More posts</h2>
    <div class="panel-collection">
      <% @posts.each do |p| %>
      <%= render 'posts/postlink', p: p, :info => {:category => p.category.name.humanize, :time => p.time_updated} %>
      <% end %>
    </div>
  </div>
<% end %>
