<%- title "#{@post.title} - Omnigoat Design" %>

<% content_for :head do %>
  <meta property="og:title"  content="<%= @post.title %>" />
  <meta property="og:site_name"  content= "Omnigoat Design" />
  <meta property="og:image"  content="<%= @post.random_picture_url %>" />
  <meta property="og:type"   content="<%= @category.name %>" />
<% end %>

<% content_for :actions do %>
    <%= link_to edit_post_path(@category.name, @post), class:"btn" do %><li>Edit Post</li><% end %>
    <%= link_to post_path(@category.name, @post), method: "delete", class:"btn" do %><li>Delete Post</li><% end %>
<% end %>

<div class="post-banner large">
<% if @post.images.any? then %>
    <% image = @post.random_picture %>
      <div class="image" id="image-<%= image.id %>" neighbors="0" image_no="0" data-image="<%= image.pic.url %>"></div>
<% else %>
    <div class="panel-background icon" id="category" data-image="<%= @post.category.icon.url %>"></div>
<% end %>
</div>

<div class="window">
<div class="postnav">
  <div class="quicknav">
    <% if @post.previous(@category.posts.order(created_at: :desc)) then %>
      <%= link_to "", post_path(@category.name, @post.previous(@category.posts.order(created_at: :desc))), class:"left"%>
    <% end %>
  </div><div class="title"><h1><%= @post.title %></h1></div><div class="quicknav">
    <% if @post.next(@category.posts.order(created_at: :asc)) then %>
      <%= link_to "", post_path(@category.name, @post.next(@category.posts.order(created_at: :asc))), class:"right" %>
    <% end %>
  </div>
</div>

<% if @post.images.any? or authorized? then %>
  <div class="post-images">
    <% @post.images.each do |i| %>
      <div class="post-image"><%= link_to "", i.pic.url, data: {image: i.pic.url} %></div>
    <% end %>
      <div class="post-image"><%= link_to "", images_path %></div>
  </div>
<% end %>

<div class="text-copy">
  <%=raw @post.description %>
</div>

<div class="post-details">
  <div class="post-detail">Posted: <%= @post.time_created %></div>
  <% if @post.time_created != @post.time_updated then %>
  <div class="post-detail">Updated: <%= @post.time_updated %></div>
  <% end %>
</div>

<div class="tag-container">
<% @post.tags.each do |t| %>
  <%= link_to t.name, tag_path(t.name), class:"tag" %>
<% end %>
</div>

</div>

<% if @posts then %>
  <div class="window" id="related">
    <h2>More posts</h2>
    <div class="panel-collection">
      <% @posts.each do |p| %>
      <%= render 'posts/postlink', p: p, :info => {:category => p.category.name.humanize, :time => p.time_updated} %>
      <% end %>
    </div>
  </div>
<% end %>
