<%- title "Categories - OmniGoat Design" %>

<div class="window">
  <h1>Categories</h1>
</div>
<div class="window">
  <div class="panel-collection" fade-children>
<% @categories.each do |c| %>
  <div class="panel-container">
    <%= link_to posts_path(c.name), class:"category-link panel", data: {color: c.color_hex} do %>
    <div class="panel-details">
      <div class="category-name">
        <%= c.name %>
      </div>
      <div class="category-posts">
        <div><%= pluralize(c.posts.count, "post") %></div>
      </div>
    </div>
    <div class="panel-background icon", image_no="0", data-image="<%= c.icon.url %>"></div>
    <% end %>
  </div>
<% end %>
  </div>
</div>

<% if authorized? then %>
  <div class="window form">
    <%= form_for @category do |f| %>

    <div class="group">
      <%= f.file_field :icon %>
    </div>

    <div class="group">
      <%= f.label :name, class:"label"%>
      <%= f.text_field :name, class:"input field"%>
    </div>

    <div class="group">
      <%= f.label :color_hex, class:"label"%>
      <%= f.text_field :color_hex, class:"input field"%>
    </div>

    <div class="group">
      <%= f.submit "Create Category", class:"input button"%>
    </div>
    <% end %>
  </div>
<% end %>
