<% content_for :navigation do %>
  <% Category.all.order(:name).each do |c| %>
    <%= link_to posts_path(c.name), class:"btn category" do %>
      <span><%= c.name %></span><span class="count-badge"><%= c.posts.count %></span>
    <% end %>
  <% end %>
<% end %>
<nav class="navbar">
  <div class="navlinks">
    <div class="permanent">
      <%= link_to "", all_path, class: "brand btn" %>
      <%= link_to 'about', about_path, class:"btn" %>
      <%= link_to 'contact', contact_path, class:"btn" %>
    </div>
    <div class="categories">
      <%= link_to 'portfolio', categories_path, class:"btn" %>
      <%= content_for :navigation %>
    </div>
  </div>
</nav>
