<% content_for :categories do %>
  <% Category.all.order(:name).each do |c| %>
    <%= render :partial => 'layouts/droplink', :layout => 'layouts/droplink', :locals => {link: posts_path(c.name)} do %>
      <span class="dropdown-badge" data-image="<%= c.icon.url %>"></span>
      <span class="dropdown-badge"><span class="count-badge"><%= c.posts.count %></span></span>
      <span class="dropdown-label"><%= c.name %></span>
    <% end %>
  <% end %>
<% end %>
<nav class="navbar">
  <div class="navlinks">

    <div class="nav-section">
      <%= link_to "", root_path, class: "brand btn", data: {dropdown: "permanent"} %>
      <div class="dropdown" id="permanent">
        <ul class="dropdown-list">
          <%= render :partial => 'layouts/droplink', :layout => 'layouts/droplink', :locals => {link: all_path} do %><span class="dropdown-label">home</span><% end %>
          <%= render :partial => 'layouts/droplink', :layout => 'layouts/droplink', :locals => {link: about_path} do %><span class="dropdown-label">about</span><% end %>
          <%= render :partial => 'layouts/droplink', :layout => 'layouts/droplink', :locals => {link: contact_path} do %><span class="dropdown-label">contact</span><% end %>
        </ul>
      </div>
    </div>

    <div class="nav-section">
      <%= link_to 'portfolio', categories_path, class:"btn", data: {dropdown: "portfolio"} %>
      <div class="dropdown" id="portfolio">
        <ul class="dropdown-list">
          <%= content_for :categories %>
        </ul>
      </div>
    </div>

    <% if authorized? then %>
      <div class="nav-section">
        <%= link_to 'admin', '#', class:"btn", data: {dropdown: "admin"} %>
        <div class="dropdown" id="admin">
          <ul class="dropdown-list">
            <%= content_for :actions %>
            <%= link_to logout_url, class: "dropdown-link", method: "delete" do %>
              <li class="dropdown-option">
                <span class="dropdown-label">Log Out</span>
              </li>
            <% end %>

          </ul>
        </div>
      </div>
    <% end %>

  </div>
</nav>
