<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "omnigoat design" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= content_for :head %>

  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body>

<%= render 'layouts/navigation' %>

<div class="content">

<% flash.each do |message_type, message| %>
  <div class="notification <%= message_type %>"><%= message %></div>
<% end %>

<%= yield %>
<div class="footer">&#169; 2015 Kyle Halvorson</div>
</div>

<% if authorized? then %>
  <% content_for :actions do %>
    <div class="actions-category">
      <div class="actions-header">Session</div>
        <%= link_to 'Log Out', logout_path, method: "delete", class:"tag" %>
    </div>
  <% end %>
  <div id="actions"><%= content_for :actions %></div>
<% end %>

<% if Rails.env.development? then %>
  <div id="debug"> <%= debug(params) %></div>
<% end %>

</body>
</html>
