<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "OmniGoat Design" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= content_for :head %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body>

<%= render 'layouts/navigation' %>

<div class="notification-container">
<% flash.each do |message_type, message| %>
  <div class="notification <%= message_type %>"><%= message %></div>
<% end %>
</div>

<div class="content">
  <%= yield %>
</div>

<% if !@splash %><div class="footer">&#169; 2015 Kyle Halvorson</div><% end %>

<% if Rails.env.development? then %>
  <div id="debug"> <%= debug(params) %></div>
<% end %>

<script>
    $(document).ready(function(){
        <%= yield(:javascript) %>
        colorNodes = document.querySelectorAll("[data-color]")
        useData(colorNodes, "color", "background-color")
        imageNodes = document.querySelectorAll("[data-image]")
        useData(imageNodes, "image", "background-image")
        notifications = document.getElementsByClassName("notification")
        LoadNotifications(notifications)
        fadeNodes = document.querySelectorAll("[fade],[fade-children] > *");
        GroupAnimate(fadeNodes, "opacity", 1, {interval: 100})

        $(window).resize(function(){
          limitImages(imageNodes)
        })

    });

</script>

</body>
</html>
